<div class="container">
    <h3 class="center">Datos del Empleado</h3>
    <table class="table table-striped">
        <tr>
            <td class="letra">Id</td>
            <td class="letra">Nombre</td>
            <td class="letra">Usuario</td>
            <td class="letra">Email</td>
            <td class="letra">Compania</td>
        </tr>
        <tr>
            <td>{{servicioEmpleado.empleado.id}}</td>
            <td>{{servicioEmpleado.empleado.name}}</td>
            <td>{{servicioEmpleado.empleado.username}}</td>
            <td>{{servicioEmpleado.empleado.email}}</td>
            <!-- <td>{{servicioEmpleado.empleado.Compania.name}}</td>> -->
            <td>datos</td>
        </tr>
    </table>
</div>
