/* You can add global styles to this file, and also import other style files */
.letra{
    /* color: blue; */
    font-weight: bold;
}

.center{
    text-align: center;
}

.cursor-pointer{
    cursor: pointer; 
}

.button {
    position: relative;
    top: 70%;
    left: 41%;
   
}

.margin-top {
    margin-top: 8px;
}